.landscape {
  display: block;
}
.portrait {
  display: none;
}

.rotate-warning {
  display: none;
}
.portrait .rotate-warning {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
