:root {
    --accent: #a2a8ff;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.landscape {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font);
    overflow-x: hidden;

    background-image: url(https://i.ibb.co/RpzmW9sm/rabbit.png);
    background-size: 10vh;

    animation: bgScroll 10s linear infinite;

    width: 100vw;
    height: 100vh;
}

.portrait {
    display: none;
    font-family: var(--font);
    overflow: hidden;
}

.rotate-warning {
    display: none;
}
.portrait .rotate-warning {
    display: block;
    font-size: 2vh;
    text-align: center;
    padding: 3vh;
}

.align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFF;
    border-radius: 5ch;
    border: var(--accent) solid 2px;

    width: 120vh;
    height: 80vh;
}

.title-1 {
    margin-top: 10vh;
    font-size: 5vh;
}

.title-2 {
    font-size: 3vh;
    text-align: center;
}

.title-3 {
    margin-top: 5vh;
    font-size: 3vh;
}

.button-container {
    text-align: center;
    margin-top: 5vh;
}

.btn-outline {
    border-radius: 100ch;
    border: 2px solid var(--accent);
    background-color: transparent;
    color: var(--accent);
    font-size: 2vh;
    padding: 1vh 3vh;
    font-weight: 500;
    cursor: pointer;
}

.btn-filled {
    border-radius: 100ch;
    background-color: var(--accent);
    color: #FFF;
    font-size: 2vh;
    padding: 1.4vh 3.4vh;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

@keyframes bgScroll {
    0% { background-position: 0px 0px; }
    100% { background-position: 10vh 10vh; }
}
